{{- $aws             := false }}
{{- $personal        := false }}
{{- $work            := false }}
{{- $sway            := false }}
{{- $gitssh          := false }}
{{- $gitgpg          := "" }}
{{- $gitemail        := "" }}
{{- $gentoo          := false }}

{{- $hostname := .chezmoi.hostname }}
{{- if eq $hostname "janus" }}
{{-   $personal = true }}
{{-   $gitssh   = true }}
{{- end }}
{{- if eq $hostname "eris" }}
{{-   $personal = true }}
{{-   $sway     = true }}
{{-   $gitssh   = true }}
{{- end }}
{{- if eq $hostname "pallas" }}
{{-   $personal = true }}
{{-   $gitssh   = true }}
{{- end }}
{{- if eq $hostname "ceres" }}
{{-   $personal = true }}
{{-   $sway     = true }}
{{-   $gitssh   = true }}
{{-   $gentoo   = true }}
{{- end }}
{{- if eq $hostname "trappist-1" }}
{{-   $personal = true }}
{{-   $gitssh   = true }}
{{- end }}
{{- if eq $hostname "ull-pf5c7qj4" }}
{{-   $personal = false }}
{{-   $gitssh   = true }}
{{-   $gitgpg   = "6F60401EC5A3AA1F" }}
{{-   $gitemail = "dylan.smith@unimelb.edu.au" }}
{{-   $sway     = true  }}
{{-   $aws      = true  }}
{{-   $work     = true  }}
{{- end }}

encryption: "age"
age:
  identity:  "~/.config/age/key.txt"
  recipient: "age1e88ar35pka7hqw0nvrt4a0c0squ92d9aghjktf2plkptv7vuwauqz0s44h"
git:
  autoCommit: true
  autoPush:   true
data:
  aws:             {{ $aws }}
  personal:        {{ $personal }}
  work:            {{ $work }}
  sway:            {{ $sway }}
  gitssh:          {{ $gitssh }}
  gitgpg:          "{{ $gitgpg }}"
  gitemail:        "{{ $gitemail }}"
  gentoo:          {{ $gentoo }}
