@define-color rosewater #dc8a78;
@define-color flamingo #dd7878;
@define-color pink #ea76cb;
@define-color mauve #8839ef;
@define-color red #d20f39;
@define-color maroon #e64553;
@define-color peach #fe640b;
@define-color yellow #df8e1d;
@define-color green #40a02b;
@define-color teal #179299;
@define-color sky #04a5e5;
@define-color sapphire #209fb5;
@define-color blue #1e66f5;
@define-color lavender #7287fd;
@define-color text #4c4f69;
@define-color subtext1 #5c5f77;
@define-color subtext0 #6c6f85;
@define-color overlay2 #7c7f93;
@define-color overlay1 #8c8fa1;
@define-color overlay0 #9ca0b0;
@define-color surface2 #acb0be;
@define-color surface1 #bcc0cc;
@define-color surface0 #ccd0da;
@define-color base #eff1f5;
@define-color mantle #e6e9ef;
@define-color crust #dce0e8;

* {
    border: none;
    border-radius: 0;
    font-family: mono;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: @mantle;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.chromium {
    background-color: @mantle;
    border: none;
}

#window {
    color: @text;
    font-weight: bold;
}

#workspaces button {
    padding: 0 5px;
    background-color: @mantle;
    color: @text;
    border-bottom: 3px solid transparent;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    color: @text;
    border-bottom: 3px solid @text;
}

#workspaces button.focused {
    background-color: @text;
    color: @mantle;
    border-bottom: 3px solid @text;
}

#workspaces button.urgent {
    background-color: @peach;
    color: @text;
}

#mode {
    background-color: @surface2;
    border-bottom: 3px solid @text;
}

#clock,
#battery,
#backlight,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor {
    padding: 0 10px;
    margin: 0 4px;
    color: @text;
    background-color: @mantle;
}

#battery.charging {
    color: @text;
    background-color: #afaf00;
}

@keyframes blink {
    to {
        background-color: @mantle;
        color: @text;
    }
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @text;
    animation-name: blink;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: @mantle;
}


#network.disconnected {
    background-color: @red;
    color: @text;
}

#pulseaudio.muted {
    background-color: @surface2;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#idle_inhibitor.activated {
    background-color: @surface2;
    color: #2d3436;
}


